server {
    listen       ${LISTEN_PORT};
    listen  [::]:${LISTEN_PORT};
    server_name  localhost;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }

    location /api {
        proxy_pass ${API_HOST};
    }
}
